header
  height: 300px
  padding: 20px
  display: flex
  flex-direction: column
  justify-content: space-between
  h1
    width: 50%
    font-size: 40px
    text-transform: uppercase
  .topNav 
    display: flex
    justify-content: space-between
    align-content: center
    ul
      display: flex
      list-style: none
      text-decoration: none
      gap: 15px
      li
        font-weight: 600
        font-size: 16px

footer
  background-color: grey
  color: white
  padding: 10px
  text-align: center


main
  width: 100%
  max-width: 1450px
  margin: auto
  padding: 30px

.home__body 
  display: flex
  flex-direction: column
  gap: 50px
  .image
   width: 50%
  &-card
    display: flex
    flex-direction: row
    gap: 30px
    justify-content: center
    align-items: center
    