header
  height: 300px
  padding: 20px 30px
  >div
    width: 100%
    max-width: 1250px
    margin: auto
    display: flex
    flex-direction: column
    justify-content: space-between
  .title
    width: 50%
    font-size: 40px
    text-transform: uppercase
  .topNav 
    display: flex
    justify-content: space-between
    align-content: center
    margin-bottom: 20px
    ul
      display: flex
      list-style: none
      text-decoration: none
      gap: 15px
      li
        font-weight: 600
        font-size: 16px

footer
  background-color: grey
  color: white
  padding: 10px
  text-align: center


main
  width: 100%
  max-width: 1250px
  margin: auto
  padding: 80px 30px
  min-height: 550px

.home__body 
  display: flex
  flex-direction: column
  gap: 50px
  .image
   width: 50%
  &-card
    display: flex
    flex-direction: row
    gap: 30px
    justify-content: center
    align-items: center
    align-content: center
    &:nth-child(even)
      direction: rtl
      
  .content
    width: 50%


.about
  &__list
    display: flex
    flex-direction: column

.events-page
  display: flex
  flex-direction: row
  gap: 20px
  &__card
    position: relative
    h2  
      position: absolute
      width: 100%
      top: 50%
      text-align: center
      font-size: 38px
      color: white
      text-transform: uppercase
      text-shadow: 1px 1px 20px black


.category
  width: 100%
  &__main
    display: flex
    flex-wrap: wrap
    flex-direction: row
    margin-right: 0
    justify-items: flex-start
    &-card
      display: flex
      flex-direction: column
      width: 33%
      

.single
  &__email
    margin-top: 25px
    label
      display: flex
      flex-direction: column
      margin-bottom: 15px
      font-size: 18px
      font-weight: 800
      text-transform: uppercase
    input
      height: 40px
      min-width: 350px
      box-shadow: none
      border-radius: 5px
      border: 1px solid #CCC
      font-size: 16px
    button
      border-radius: 5px
      border: 1px solid #CCC
      height: 40px
      min-width: 150px
      font-size: 16px
      text-transform: uppercase
      margin-left: 16px
      font-weight: 600
      background-color: #fccc
      cursor: pointer
      &:hover
        background-color: #333
        color: #fccc
